#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.connect-button {
    position: absolute;
    top: 1em;
    right: 1em;
}

.connect-button {
    position: absolute;
    top: 1em;
    right: 1em;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
